<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>qBlog</h3>
        <small>Posted by Brad on Oct. 24th, 2015</small>
        <p>Helvetica retro squid, aesthetic schlitz 8-bit forage blog typewriter four loko bespoke. Biodiesel banh mi messenger bag, normcore fixie pitchfork snackwave. Beard raclette kogi, glossier chambray swag distillery copper mug franzen. Poke four loko readymade, pabst jean shorts bitters lomo yr microdosing mixtape. Bitters tacos pok pok master cleanse tote bag hoodie. Ethical narwhal aesthetic asymmetrical tattooed. Four loko shabby chic mlkshk mustache, mumblecore PBR&B salvia VHS live-edge.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>qBlog</h3>
        <small>Posted by Brad on Oct. 24th, 2015</small>
        <p>Helvetica retro squid, aesthetic schlitz 8-bit forage blog typewriter four loko bespoke. Biodiesel banh mi messenger bag, normcore fixie pitchfork snackwave. Beard raclette kogi, glossier chambray swag distillery copper mug franzen. Poke four loko readymade, pabst jean shorts bitters lomo yr microdosing mixtape. Bitters tacos pok pok master cleanse tote bag hoodie. Ethical narwhal aesthetic asymmetrical tattooed. Four loko shabby chic mlkshk mustache, mumblecore PBR&B salvia VHS live-edge.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>qBlog</h3>
        <small>Posted by Brad on Oct. 24th, 2015</small>
        <p>Helvetica retro squid, aesthetic schlitz 8-bit forage blog typewriter four loko bespoke. Biodiesel banh mi messenger bag, normcore fixie pitchfork snackwave. Beard raclette kogi, glossier chambray swag distillery copper mug franzen. Poke four loko readymade, pabst jean shorts bitters lomo yr microdosing mixtape. Bitters tacos pok pok master cleanse tote bag hoodie. Ethical narwhal aesthetic asymmetrical tattooed. Four loko shabby chic mlkshk mustache, mumblecore PBR&B salvia VHS live-edge.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="img/rails1.jpg" alt="">
      <div class="post-content">
        <h3>qBlog</h3>
        <small>Posted by Brad on Oct. 24th, 2015</small>
        <p>Helvetica retro squid, aesthetic schlitz 8-bit forage blog typewriter four loko bespoke. Biodiesel banh mi messenger bag, normcore fixie pitchfork snackwave. Beard raclette kogi, glossier chambray swag distillery copper mug franzen. Poke four loko readymade, pabst jean shorts bitters lomo yr microdosing mixtape. Bitters tacos pok pok master cleanse tote bag hoodie. Ethical narwhal aesthetic asymmetrical tattooed. Four loko shabby chic mlkshk mustache, mumblecore PBR&B salvia VHS live-edge.</p>
        <a href="#" class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
